<h1>New Report</h1>

<div class="content">
    <% semantic_form_for @report do |f| %>
        <% f.inputs do %>
            <%= f.input :name %>
            <%= f.input :latitude %>
            <%= f.input :longitude %>
            <%= f.input :hours %>
            <%= f.input :price_range %>
            <%= f.input :food_types, :collection => Report::FOOD_TYPES %>
            <%= f.inputs :vegan, :vegetarian, :gluten_free, :name => 'Diet Friendliness' %>
            <%= f.input :comments %>
        <% end -%>
        <% f.buttons do %>
            <%= f.commit_button %>
        <% end -%>
    <% end -%>
</div>