<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    
	<title>Food Cart Finder!!!</title>
    
    <%= stylesheet_link_tag 'screen', 'formtastic', 'formtastic_changes' %>

    <%= Mapstraction.header(:yahoo) %>	
    <%= @map.to_html if @map %>
    
    <script>
    function findme() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(pos) {
                    var pt = new mxn.LatLonPoint(pos.coords.latitude, pos.coords.longitude);
                    map.setCenterAndZoom(pt, 16);
                    var mk = new mxn.Marker(pt);
                    map.addMarker(mk);
                },
                function() {
                    // NOT FOUND
                    // alert('Could not find location');
                    // Returning Portland city center
                    var pt = new mxn.LatLonPoint(45.528479,-122.676086);
                    map.setCenterAndZoom(pt, 14);
                    var mk = new mxn.Marker(pt);
                    map.addMarker(mk);
                });
        } else {
            alert('Could not find location');
        }
  	}
    </script>
</head>

<body>
    <%= flash[:notice] %>
    <%= flash[:error] %>
    <%= flash[:success] %>
    <%= yield %>
</body>
</html>
