<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    
	<title>Food Cart Finder!!!</title>
    
    <%= stylesheet_link_tag '/javascripts/jqtouch/jqtouch.min.css',
                            '/javascripts/jqtouch/themes/apple/theme.min.css',
                            'screen' %>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"> google.load("jquery", "1.3.2"); </script>
    <%#= javascript_include_tag 'jqtouch/jqtouch.min.js', 'jqtouch/jqtouch.transitions.js' %>

    <script type="text/javascript" charset="utf-8">
      // $.jQTouch({
      //           icon: 'jqtouch.png',
      //           statusBar: 'black-translucent',
      //           formSelector: false,
      //           preloadImages: [
      //               '/javascripts/jqtouch/themes/jqt/img/chevron_white.png',
      //               '/javascripts/jqtouch/themes/jqt/img/bg_row_select.gif',
      //               '/javascripts/jqtouch/themes/jqt/img/back_button_clicked.png',
      //               '/javascripts/jqtouch/themes/jqt/img/button_clicked.png'
      //               ]
      //       });
    </script>

    <%= Mapstraction.header(:yahoo) %>
    <%= @map.to_html if @map %>
    
    <script>
    function findme() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(pos) {
                    // alert(pos.coords.latitude + ", " + pos.coords.longitude);
                    map.removeAllMarkers();
                    var pt = new LatLonPoint(pos.coords.latitude, pos.coords.longitude);
                    map.setCenterAndZoom(pt, 17);
                    var mk = new Marker(pt);
                    map.addMarker(mk);
                    jQuery("#report_latitude").val(pos.coords.latitude);
                    jQuery("#report_longitude").val(pos.coords.longitude);
                },
                function() {
                    // NOT FOUND
                    // alert('Could not find location');
                    // Returning Portland city center
                    var pt = new LatLonPoint(45.521094,-122.676274);
                    map.setCenterAndZoom(pt, 14);
                    var mk = new Marker(pt);
                    map.addMarker(mk);
                });
        } else {
            alert('Could not find location');
        }
  	}
    </script>
</head>

<body>
  <div class='current'>
    <div class="toolbar">
      <h1><%=h page_title %></h1>
      <%= yield(:toolbar) %>
    </div>
    <%= render_flash %>
    <%= yield %>
  </div>
</body>
</html>
